.python-version
*~
__pycache__
.idea/
db.sqlite3
/crispy_tailwind*

/media/
/static/
/!static/.gitkeep

# Symlinks in root
/package.json
/package-lock.json
/tailwind.config.js
/node_modules

# Build artifacts
bundle.tar.gz

# Documentation
entity_relationship_diagram.html
model.dot
model.SVG

.env
