{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoEV Car Share</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">

  {% tailwind_css v='CSS_CACHE_BUSTER_VERSION' %}
  {% block scripts %}{% endblock %}
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
</head>

<body class="antialiased font-sans {% block body-bg %}bg-blue-100{% endblock %}">
{% block content %}{% endblock %}
{% block footer %} {% include "footer.html" %} {% endblock %}
</body>
</html>
