{% extends "base.html" %}

{% block content %}

<div class="min-h-full bg-blue-100">
  <nav
    class="bg-white border-b border-gray-200"
    x-data="{navigationOpen: false}"
  >
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="flex-shrink-0 flex items-center">
            <a href="{% url 'bookings_history' %}">
              <img class="h-8 w-auto" src="/static/logo.png" alt="GoEV Logo">
            </a>
          </div>
          <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <a href="{% url 'bookings_search' %}"
               class="{% if menu == 'new_booking' %}border-blue-500 text-gray-900{% else %}border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
               {% if menu == 'new_booking' %}aria-current="page" {% endif %}
            >
              New Booking
            </a>

            <a href="{% url 'bookings_history' %}"
               class="{% if menu == 'my_bookings' %}border-blue-500 text-gray-900{% else %}border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
               {% if menu == 'my_bookings' %}aria-current="page" {% endif %}
            >
              My Bookings
            </a>

            <a href="{% url 'users_profile_my_details' %}"
               class="{% if menu == 'profile' or menu == 'billing' %}border-blue-500 text-gray-900{% else %}border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
               {% if menu == 'profile' or menu == 'billing' %}aria-current="page" {% endif %}
            >
              Profile & Billing
            </a>
          </div>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:items-center">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit"
                    class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
              Sign Out
            </button>
          </form>
        </div>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button
            type="button"
            class="bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
            aria-controls="mobile-menu" aria-expanded="false"
            @click="navigationOpen = !navigationOpen"
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true" x-show="!navigationOpen">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
            <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true" x-show="navigationOpen">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div
      class="sm:hidden"
      id="mobile-menu"
      @click.away="navigationOpen = false"
      x-show="navigationOpen"
    >
      <div class="pt-2 pb-3 space-y-1">
        <a
          href="{% url 'bookings_search' %}"
          class="{% if menu == 'new_booking' %}bg-teal-50 border-teal-500 text-teal-700{% else %} border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 {% endif %} block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
          {% if menu == 'new_booking' %}aria-current="page" {% endif %}
        >
          New Booking
        </a>

        <a href="{% url 'bookings_history' %}"
           class="{% if menu == 'my_bookings' %}bg-teal-50 border-teal-500 text-teal-700{% else %}border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800{% endif %} block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
           {% if menu == 'my_bookings' %}aria-current="page" {% endif %}
        >
          My Bookings
        </a>

        <a href="#"
           class="{% if menu == 'profile' or menu == 'billing' %} bg-teal-50 border-teal-500 text-teal-700 {% else %}border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800{% endif %} block pl-3 pr-4 py-2 border-l-4 text-base font-medium"
            {% if menu == 'profile' or menu == 'billing' %}aria-current="page" {% endif %}
        >
          Profile & Billing
        </a>

      </div>
      <div class="pt-4 pb-3 border-t border-gray-200">
        <div class="mt-3 space-y-1">

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit"
                    class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
              Sign Out
            </button>
          </form>

        </div>
      </div>
      <div class="bg-blue-100 h-4"></div>
    </div>
  </nav>

  <header class="bg-white shadow">
    {% block portal_header %}
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">{% block portal_header_text %}{% endblock %}</h1>
    </div>
    {% endblock %}
  </header>

  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      {% block portal_content %}
      <div class="px-4 py-4 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-96"></div>
      </div>
      {% endblock %}
    </div>
  </main>
</div>

{% endblock %}

{% block body-bg %}bg-white{% endblock%}
