<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  {% include "bookings/desktop_picker/filters.html" %}

  <div class="flex flex-auto flex-col overflow-auto bg-white">

    <div style="width: 165%" class="flex max-w-full flex-none flex-col sm:max-w-none md:max-w-full">
      <div class="sticky top-0 z-10 flex-none bg-white shadow ring-1 ring-black ring-opacity-5 sm:pr-8">
        <div
          class="-mr-px grid divide-x divide-gray-100 border-r border-gray-100 text-sm leading-6 text-gray-500 border-b" style="grid-template-columns: repeat(11, minmax(0, 1fr));">

          <div class="col-end-1 w-14"></div>

          <div class="flex items-center justify-center py-3 col-start-1 col-end-6">
            <span class="items-center justify-center font-semibold text-gray-900">Van</span>
          </div>

          <div class="flex items-center justify-center py-3 col-start-6 col-end-10">
            <span class="items-center justify-center font-semibold text-gray-900">Combi</span>
          </div>

          <div class="flex items-center justify-center py-3 col-start-10 col-end-12">
            <span class="items-center justify-center font-semibold text-gray-900">Car</span>
          </div>

        </div>

        <div
          class="-mr-px grid divide-x divide-gray-100 border-r border-gray-100 text-sm leading-6 text-gray-500" style="grid-template-columns: repeat(11, minmax(0, 1fr));">

          <div class="col-end-1 w-14"></div>

          <div class="flex items-center justify-center py-3">
            <span>Moorwell 1</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Moorwell 2</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Moorwell 3</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Moorwell 4</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Telegraph</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>School</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Ennor Close</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Porthmellon</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Mermaid</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Health Centre</span>
          </div>

          <div class="flex items-center justify-center py-3">
            <span>Airport</span>
          </div>
        </div>
      </div>


      <div class="flex flex-auto">
        <div class="sticky left-0 w-14 flex-none bg-white ring-1 ring-gray-100"></div>
        <div class="grid flex-auto grid-cols-1 grid-rows-1">
          <!-- Horizontal lines -->
          <div class="col-start-1 col-end-2 row-start-1 grid divide-y divide-gray-100"
               style="grid-template-rows: repeat(48, minmax(3.5rem, 1fr))">
            <div class="row-end-1 h-7"></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">12AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">1AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">2AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">3AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">4AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">5AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">6AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">7AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">8AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">9AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">10AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">11AM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">12PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">1PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">2PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">3PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">4PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">5PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">6PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">7PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">8PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">9PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">10PM</div>
            </div>
            <div></div>
            <div>
              <div class="sticky left-0 -mt-2.5 -ml-14 w-14 pr-2 text-right text-xs leading-5 text-gray-400">11PM</div>
            </div>
            <div></div>
          </div>

          <!-- Vertical lines -->
          <!--
          <div class="col-start-1 col-end-2 row-start-1 hidden grid-cols-7 grid-rows-1 divide-x divide-gray-100 sm:grid sm:grid-cols-7">
            <div class="col-start-1 row-span-full"></div>
            <div class="col-start-2 row-span-full"></div>
            <div class="col-start-3 row-span-full"></div>
            <div class="col-start-4 row-span-full"></div>
            <div class="col-start-5 row-span-full"></div>
            <div class="col-start-6 row-span-full"></div>
            <div class="col-start-7 row-span-full"></div>
            <div class="col-start-8 row-span-full w-8"></div>
          </div>
          -->

          <!-- Events -->
          <!--
          <ol class="col-start-1 col-end-2 row-start-1 grid grid-cols-1 sm:grid-cols-7 sm:pr-8" style="grid-template-rows: 1.75rem repeat(288, minmax(0, 1fr)) auto">
            <li class="relative mt-px flex sm:col-start-3" style="grid-row: 74 / span 12">
              <a href="#" class="group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-blue-50 p-2 text-xs leading-5 hover:bg-blue-100">
                <p class="order-1 font-semibold text-blue-700">Breakfast</p>
                <p class="text-blue-500 group-hover:text-blue-700"><time datetime="2022-01-12T06:00">6:00 AM</time></p>
              </a>
            </li>
            <li class="relative mt-px flex sm:col-start-3" style="grid-row: 92 / span 30">
              <a href="#" class="group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-pink-50 p-2 text-xs leading-5 hover:bg-pink-100">
                <p class="order-1 font-semibold text-pink-700">Flight to Paris</p>
                <p class="text-pink-500 group-hover:text-pink-700"><time datetime="2022-01-12T07:30">7:30 AM</time></p>
              </a>
            </li>
            <li class="relative mt-px hidden sm:col-start-6 sm:flex" style="grid-row: 122 / span 24">
              <a href="#" class="group absolute inset-1 flex flex-col overflow-y-auto rounded-lg bg-gray-100 p-2 text-xs leading-5 hover:bg-gray-200">
                <p class="order-1 font-semibold text-gray-700">Meeting with design team at Disney</p>
                <p class="text-gray-500 group-hover:text-gray-700"><time datetime="2022-01-15T10:00">10:00 AM</time></p>
              </a>
            </li>
          </ol>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
