<table class="min-w-full">
  <thead>
  <tr class="border-t border-gray-200">
    <th class="border-b border-gray-200 bg-gray-50 px-6 py-3 text-left text-sm font-semibold text-gray-900"
        scope="col">
      <span class="lg:pl-8 hidden sm:table-cell">ID</span>
      <span class="sm:hidden">Reg</span>
    </th>
    <th class="border-b border-gray-200 bg-gray-50 px-6 py-3 text-left text-sm font-semibold text-gray-900"
        scope="col">
      User
    </th>
    <th
      class="border-b border-gray-200 bg-gray-50 px-6 py-3 text-right text-sm font-semibold text-gray-900"
      scope="col">
      Start
    </th>
    <th class="border-b border-gray-200 bg-gray-50 py-3 pr-6 text-right text-sm font-semibold text-gray-900"
        scope="col">
      End
    </th>
    <th class="hidden sm:table-cell border-b border-gray-200 bg-gray-50 py-3 pr-6 text-right text-sm font-semibold text-gray-900"
        scope="col">
      Vehicle
    </th>
    <th class="sm:hidden border-b border-gray-200 bg-gray-50 py-3 pr-6 text-right text-sm font-semibold text-gray-900"
        scope="col">
      ID
    </th>
    <th class="border-b border-gray-200 bg-gray-50 py-3 pr-6 text-right text-sm font-semibold text-gray-900"
        scope="col">
      Actions
    </th>
    <th class="border-b border-gray-200 bg-gray-50 py-3 pr-6 text-right text-sm font-semibold text-gray-900 w-16"
        scope="col">
      Edit
    </th>
  </tr>
  </thead>
  <tbody class="divide-y divide-gray-100 bg-white">

  {% for b in bookings %}
    {% include "backoffice/bookings/bookings_list_item.html" with b=b %}
  {% endfor %}

  </tbody>
</table>
