{% include 'backoffice/bookings/status_colour.html' with status=b.state %}
  <td class="h-6 w-6 max-w-none whitespace-nowrap px-2 py-3 text-sm font-medium text-gray-900">
    <div class="hidden sm:flex items-center space-x-3 lg:pl-2">
      {% include "backoffice/bookings/status.html" with status=b.state %}
      <a href="#" class="truncate hover:text-gray-600">
        <span>
          #{{ b.id|stringformat:"06d" }}
        </span>
      </a>
    </div>
    <span class="sm:hidden">
      {{ b.vehicle.registration }}
    </span>
  </td>
  <td class="px-2 py-3 text-sm font-medium">
    {{ b.user.first_name|title }} {{ b.user.last_name|title }}
  </td>

  <!--Large screens format the date in long form-->
  <td class="hidden sm:table-cell whitespace-nowrap px-2 py-3 text-right text-sm">
    {{ b.reservation_time.lower }}
  </td>
  <td class="hidden sm:table-cell whitespace-nowrap px-2 py-3 text-right text-sm">
    {{ b.reservation_time.upper }}
  </td>

  <!--For phones format the date in short form-->
  <td class="sm:hidden whitespace-nowrap px-2 py-3 text-right text-sm">
    {{ b.reservation_time.lower|date:"j M H:i" }}
  </td>
  <td class="sm:hidden whitespace-nowrap px-2 py-3 text-right text-sm">
    {% if b.duration.0 >= 1 or b.duration.1 > 12 %}
      {{ b.reservation_time.upper|date:"j M H:i" }}
    {% else %}
      {{ b.reservation_time.upper|date:"H:i" }}
    {% endif %}
  </td>

  <td class="hidden sm:table-cell whitespace-nowrap px-2 py-3 text-right text-sm">
    {{ b.vehicle.registration }}
  </td>
  <td class="sm:hidden whitespace-nowrap px-2 py-3 text-right text-sm">
    <a href="#" class="truncate hover:text-gray-600">
      <span>
        #{{ b.id|stringformat:"06d" }}
      </span>
    </a>
  </td>
  <td class="whitespace-nowrap px-2 py-3 text-right text-sm">
    {% include "backoffice/bookings/close_booking_modal.html" %}
  </td>
</tr>
