{% load crispy_forms_field %}

<div class="pb-6" x-data="{
  hasUpload: '{{ field.value }}'.length > 0,
  uploadType: '{{ field.value }}'.length > 0 ? '{{ field.value }}'.split('.')[1] : undefined,
  nodeName: '{{ field.value }}'.length > 0 && '{{ field.value }}'.split('.')[1] != 'pdf' ? 'IMG' : 'SVG',
  src : '{{ field.value }}'.length ? '/media/{{ field.value }}' : undefined,
  readyToDrop:false,
  errorText:false,
  setPreview(input) {
      const [file] = input.files;
      if (file) {
        if (file.type == 'application/pdf'){
          this.nodeName = 'IFRAME';
        }
        else{
          this.nodeName = 'IMG';
        }
        this.src = URL.createObjectURL(file);
      }
  },
}">
  {% if field.label and form_show_labels %}
    <label for="{{ field.id_for_label }}"
           class="{% if label_class %}{{ label_class }}{% else %}block text-gray-700 text-sm font-bold mb-2{% endif %}">
      {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
  {% endif %}

  <div class="flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md text-gray-200 drop-zone"
  @drop="
  const fileInput = document.getElementById('{{ field.id_for_label }}')
  const {type}=$event.dataTransfer.files[0];
  if(type === 'application/pdf' || type === 'image/png' || type === 'image/jpeg'){
    fileInput.files = $event.dataTransfer.files;
    setPreview(fileInput);
    readyToDrop=false;
  }
  $event.preventDefault();
" @dragover="
  $event.preventDefault();
  readyToDrop=true;
" @dragleave="
  readyToDrop=false;
">
    <div class="space-y-1 text-center">
      
      <div id="preview">
        <iframe x-show="nodeName==='IFRAME'" src="" x-bind:src="src" class="mx-auto p-1 pb-3 bg-white" scrolling="no" style="max-height: 200px;"></iframe>
        <img x-show="nodeName==='IMG'" src="" x-bind:src="src" class="mx-auto pb-3" style="max-height: 200px;"></img>
        <svg class="mx-auto h-12 w-12 text-gray-400 bg-white p-1" stroke="currentColor" fill="none" viewBox="0 0 48 48"
           aria-hidden="true" x-show="nodeName === 'SVG' && !readyToDrop && !hasUpload">
          <path
            d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="mx-auto h-12 w-12 text-gray-400 bg-white p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" x-show="nodeName === 'SVG' && readyToDrop">
          <path stroke-linecap="round" stroke-linejoin="round" 
          d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3" />
        </svg>
        <svg class="mx-auto h-12 w-12 text-gray-400 bg-white p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" x-show="nodeName === 'SVG' && hasUpload && !readyToDrop">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
          <text x="7" y="16" font-family="Verdana, sans-serif" font-size="5" stroke="none" fill="currentColor">PDF</text>
        </svg>        
      </div>
      <div class="flex flex-col text-sm text-gray-600">
        <label for="{{ field.id_for_label }}"
               class="relative cursor-pointer rounded-md font-medium text-blue-600 hover:text-blue-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
          <span x-show="hasUpload" class="p-1 bg-white">Upload successful, you may upload a different file</span>
          <span x-show="!hasUpload" class="p-1 bg-white">Upload a file</span>
          <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="file" class="sr-only"
                 accept=".png,.jpg,.jpeg,.pdf"
                 x-on:change.debounce="setPreview($el)"/>
        </label>
        <!--<p class="pl-1"> or drag and drop</p>-->
        <p class="text-xs text-gray-500 p-1 bg-white">PDF, PNG or JPG up to 10MB</p>
      </div>
    </div>
  </div>
  <div x-show="errorText" class="text-red-700">Please upload a valid PDF, PNG or JPG</div>
  {% include 'tailwind/layout/help_text_and_errors.html' %}
</div>
<script>

</script>