{% load crispy_forms_field %}

<div class="pb-6">
  {% if field.label and form_show_labels %}
    <label for="{{ field.id_for_label }}"
           class="{% if label_class %}{{ label_class }}{% else %}block text-gray-700 text-sm font-bold mb-2{% endif %}">
      {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
  {% endif %}

  <div class="flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
       x-data="{
                preview: '{{ field.value }}'.length > 0 ? '/media/{{ field.value }}' : undefined,
                setPreview(input) {
                    const [file] = input.files;
                    if (file) {
                      this.preview = URL.createObjectURL(file);
                    }
                },
              }
        ">
    <div class="space-y-1 text-center">
      <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
           aria-hidden="true" x-show="preview === undefined">
        <path
          d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <img class="mx-auto pb-3" src="" x-bind:src="preview" style="max-height: 200px;"/>
      <div class="flex text-sm text-gray-600">
        <label for="{{ field.id_for_label }}"
               class="relative cursor-pointer bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
          <span>Upload a file</span>
          <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="file" class="sr-only"
                 accept=".png,.jpg,.jpeg"
                 x-on:change.debounce="setPreview($el)"/>
        </label>
        <!--<p class="pl-1"> or drag and drop</p>-->
      </div>
      <p class="text-xs text-gray-500">PNG or JPG up to 10MB</p>
    </div>
  </div>
  {% include 'tailwind/layout/help_text_and_errors.html' %}
</div>
