{% extends "portal_base.html" %}

{% load crispy_forms_tags %}

{% block portal_content %}

<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Find a Vehicle
    </h1>
  </div>
</header>
<main>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="px-4 py-8 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96 mt-5">
        {% if form %}
        New booking search
        <form action="#" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          {% include "components/submit-button.html" with label="Search" %}
        </form>
        {% else %}
        {% if vehicles|length > 0 %}
        <ol>
          {% for v in vehicles %}
          <div>
            <form action="{% url 'bookings_confirm' %}" method="POST">
              {% csrf_token %}
              {{v.name}} - {{v.registration}} ({{v.bay.name}})
              <input type="hidden" name="vehicle_id" value="{{v.id}}"/>
              <input type="hidden" name="start" value="{{start}}"/>
              <input type="hidden" name="end" value="{{end}}"/>
              {%include "components/submit-button.html" with label="Book" %}
            </form>
          </div>
          {% endfor %}
        </ol>
        {% else %}
          <p>No vehicles found.</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
