{% extends "backoffice_base.html" %}

{% load crispy_forms_tags %}

{% block heading %}Approve Driver Profile{% endblock %}
{% block buttons %}

{% endblock %}

{% block main %}
  <div class="bg-gray-100">
    <form action="#" method="POST">
      {% csrf_token %}

      <div class="flex flex-1 bg-gray-100">
        <main class="flex-1">
          <div class="inset-0 py-6 px-4 sm:px-6 lg:px-8">
            <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
              <div class="px-4 py-3 sm:px-6 font-medium">Final Approval</div>
              <div class="px-4 py-5 sm:p-6">
                {{form|crispy}}
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        {% include "components/submit-button.html" with label="Approve" %}
      </div>

    </form>
  </div>
{% endblock %}
