{% extends "backoffice_base.html" %}

{% load crispy_forms_tags %}

{% block heading %}Bookings{% endblock %}
{% block buttons %}
  <button type="button"
          class="order-0 inline-flex items-center rounded-md border border-transparent bg-teal-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 sm:order-1 sm:ml-3">
    Create
  </button>
{% endblock %}

{% block main %}

  <div class="mt-8">

    <form class="px-4" action="" method="GET">
      <div class="flex flex-row justify-end gap-x-4 mb-4">
        {% crispy filter.form %}
        <div class="flex justify-center items-center">
          {% include "components/submit-button.html" with label="Filter" %}
        </div>
      </div>
    </form>

    <div class="inline-block min-w-full border-b border-gray-200 align-middle">
      {% include "backoffice/bookings/bookings_list.html" with bookings=page %}
    </div>

    {% include "backoffice/components/paginator.html" with page=page page_range=page_range %}

  </div>

{% endblock %}
