{% load utils %}
<li
  class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200"
  x-data="{cancelOpen: false}"
>
  <div>
    {% if booking.cancelled %}
      <div class="px-4 py-5 sm:px-6 rounded-t-lg bg-red-300">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Cancelled Booking</h3>
      </div>
    {% elif booking.reservation_in_progress %}
      <div class="px-4 py-5 sm:px-6 rounded-t-lg bg-green-600">
        <h3 class="text-lg leading-6 font-medium text-white">Current Booking</h3>
      </div>
    {% elif booking.reservation_ended %}
      <div class="px-4 py-5 sm:px-6 rounded-t-lg bg-gray-400">
        <h3 class="text-lg leading-6 font-medium text-white">Completed Booking</h3>
      </div>
    {% else %}
      <div class="px-4 py-5 sm:px-6 rounded-t-lg bg-blue-600">
        <h3 class="text-lg leading-6 font-medium text-white">Upcoming Booking</h3>
      </div>
    {% endif %}
  </div>
  <div class="w-full flex items-center justify-between p-6 space-x-6">
    <div class="flex-1 truncate">
      <div class="flex items-center space-x-3">
        <p class="text-lg text-gray-900 font-extrabold">
          <span class="bg-yellow-300 rounded px-4">{{ booking.vehicle.registration }}</span>
        </p>
        {% if not booking.cancelled and not booking.reservation_ended %}
          <span
            class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-md font-medium bg-green-100 rounded-full">&pound;{{ booking.cost }}
        </span>
        {% endif %}
      </div>
      <p class="mt-1 text-gray-500 text-sm truncate"><strong>Location:</strong> {{ booking.vehicle.bay.station.name }}
      </p>
      <p class="mt-1 text-gray-500 text-sm truncate">
        <strong>Start:</strong> {{ booking.reservation_time.lower|date:"H:i - l j N Y" }}</p>
      <p class="mt-1 text-gray-500 text-sm truncate">
        <strong>End:</strong> {{ booking.reservation_time.upper|date:"H:i - l j N Y" }}</p>
    </div>
    {% if booking.vehicle.picture %}
      <img class="w-24 h-24 bg-gray-300 rounded-full flex-shrink-0"
           src="{{ booking.vehicle.picture.url }}"
           alt="">
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-24 h-24 text-gray-300 rounded-full flex-shrink-0">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
      </svg>
    {% endif %}
  </div>
  {% if booking.cancelled %}
  {% else %}
    {% user_can_access_booking user booking as access %}
    <div>
      <div class="-mt-px flex divide-x divide-gray-200">
        {% if booking.reservation_in_progress %}
          <div class="w-0 flex-1 flex">
            <a href="{% url 'bookings_edit' booking.id %}"
               class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:bg-gray-300">
              <!-- Heroicon name: solid/pencil -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
              </svg>
              <span class="ml-3">Edit</span>
            </a>
          </div>
          {% if access %}
            {% include "bookings/booking_list/unlock-button.html" %}
            {% include "bookings/booking_list/lock-button.html" %}
          {% endif %}
        {% elif booking.reservation_ended %}
            {% if access and booking.can_lock %}
              {% include "bookings/booking_list/lock-button.html" %}
            {% endif %}
            
        {% else %}
          <div class="w-0 flex-1 flex">
            <a href="{% url 'bookings_edit' booking.id %}"
               class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:bg-gray-300">
              <!-- Heroicon name: solid/pencil -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
              </svg>
              <span class="ml-3">Edit</span>
            </a>
          </div>
          <div class="-ml-px w-0 flex-1 flex">
            <a
              href="#"
              class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-red-600 font-medium border border-transparent rounded-br-lg hover:bg-red-300"
              @click="cancelOpen = true"
            >
              <!-- Heroicon name: solid/x -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"/>
              </svg>
              <span class="ml-3">Cancel</span>
            </a>
          </div>

          <!-- Cancel Dialog -->
          <div
            x-cloak
            x-show="cancelOpen"
            class="relative z-10"
            aria-labelledby="modal-title"
            role="dialog"
            aria-modal="true"
            x-transition:enter="ease-out duration-300"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="ease-in duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
          >
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed inset-0 z-10 overflow-y-auto">
              <div
                x-show="cancelOpen"
                class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
                x-transition:enter="ease-out duration-300"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="ease-in duration-200"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              >
                <div
                  class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
                  <div class="sm:flex sm:items-start">
                    <div
                      class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                      <!-- Heroicon name: outline/exclamation-triangle -->
                      <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 10.5v3.75m-9.303 3.376C1.83 19.126 2.914 21 4.645 21h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 4.88c-.866-1.501-3.032-1.501-3.898 0L2.697 17.626zM12 17.25h.007v.008H12v-.008z"/>
                      </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                      <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Cancel booking</h3>
                      <div class="mt-2">
                        <p class="text-sm text-gray-500">
                          Are you sure you want to cancel your booking of {{ booking.vehicle.registration }} from
                          {{ booking.reservation_time.lower|date:"H:i - l j N Y" }} to
                          {{ booking.reservation_time.upper|date:"H:i - l j N Y" }}?</p>
                        <p class="text-sm text-red-500 pt-2">
                          If this booking starts in less than {{ cancel_cutoff }} hours time, you will
                          still be charged.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                    <a
                      href="{% url "bookings_cancel" booking.id %}"
                      type="button"
                      class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                    >
                      Yes
                    </a>
                    <button
                      type="button"
                      class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm"
                      @click="cancelOpen=false"
                    >
                      No
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      </div>
    </div>
  {% endif %}
</li>
