{% extends "backoffice_base.html" %}

{% load static %}
{% block scripts %}
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js" integrity="sha512-hVy4KxCKgnXi2ok7rlnlPma4JHXI1VPQeempoaclV1GwRHrDeaiuS1pI6DVldaj5oh6Opy2XJ2CTljQLPkaMrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="{% static "get-telemetry.js" %}" defer></script>
{% endblock %}

{% block heading %}<h2 class="bg-yellow-400 text-black font-bold text-xl px-6 py-2 rounded-md border-4 border-black tracking-widest shadow-md w-fit">{{ vehicle.registration }}</h2>{% endblock %}
{% block buttons %}

{% endblock %}

{% block main %}

<a class="hidden" href="{{ request.get_host }}" id="base_url"></a>
<a href="{% url "get_telemetry" %}" class="hidden" id="telemetry_url"></a>
<input type="hidden" id="vehicle_id" value="{{ vehicle.id }}">
{% csrf_token %}

<img src="{{ vehicle.picture.url }}"><div class="relative w-32 h-32">
    <svg class="w-full h-full transform -rotate-90" viewBox="0 0 100 100">
        <circle class="text-gray-200 stroke-current" cx="50" cy="50" r="40" stroke-width="10" fill="transparent" />
{% if most_recent.soc.value > 75 %}
        <circle class="text-green-500 stroke-current" cx="50" cy="50" r="40" stroke-width="10" fill="transparent"
stroke-dasharray="251.2" stroke-dashoffset="{{ most_recent.soc_dial }}" stroke-linecap="round" />
{% elif most_recent.soc.value > 50 %}
        <circle class="text-amber-500 stroke-current" cx="50" cy="50" r="40" stroke-width="10" fill="transparent"
stroke-dasharray="251.2" stroke-dashoffset="{{ most_recent.soc_dial }}" stroke-linecap="round" />
{% else %}
        <circle class="text-red-500 stroke-current" cx="50" cy="50" r="40" stroke-width="10" fill="transparent"
stroke-dasharray="251.2" stroke-dashoffset="{{ most_recent.soc_dial }}" stroke-linecap="round" />
{% endif %}
    </svg>
    <div class="absolute inset-0 flex items-center justify-center text-xl font-bold text-gray-800">
      {{ most_recent.soc.value }}%
    </div>
  </div>
<table>
    <thead><th></th><th>Name</th><th>Start Time</th><th>End Time</th></thead>
    <tr>
        <td>Current booking</td>
        <td>{% if vehicle.box.current_booking %}{{vehicle.box.current_booking.user.first_name|title}} {{vehicle.box.current_booking.user.last_name|title}}{% else %}no current booking{% endif %}</td>
        <td>{% if vehicle.box.current_booking %}{{vehicle.box.current_booking.reservation_time.lower}}{% else %}-{% endif %}</td>
        <td>{% if vehicle.box.current_booking %}{{vehicle.box.current_booking.reservation_time.upper}}{% else %}-{% endif %}</td>
    </tr>
    <tr>
        <td>Next booking</td>
        <td>{% if next_booking %}{{ next_booking.user.first_name|title }} {{ next_booking.user.last_name|title }}{% else %}no upcoming booking{% endif %}</td>
        <td>{% if next_booking %}{{ next_booking.reservation_time.lower }}{% else %}-{% endif %}</td>
        <td>{% if next_booking %}{{ next_booking.reservation_time.upper }}{% else %}-{% endif %}</td>
    </tr>
    <tr>
        <td>Previous booking</td>
        <td>{% if last_booking %}{{ last_booking.user.first_name|title }} {{ last_booking.user.last_name|title }}{% else %}no previous booking{% endif %}</td>
        <td>{% if last_booking %}{{ last_booking.reservation_time.lower }}{% else %}-{% endif %}</td>
        <td>{% if last_booking %}{{ last_booking.reservation_time.upper }}{% else %}-{% endif %}</td>
    </tr>
</table>
<table>
    <thead>
        <th>Telemetry</th>
        <th>Value</th>
        <th>Age</th>
    </thead>
    <tr>
        <td>Doors Locked</td><td>{{ most_recent.doors_locked.value }}</td><td>{{most_recent.doors_locked.age}}</td>
    </tr>
    <tr>
        <td>Battery</td><td>{{ most_recent.battery.value }}v</td><td>{{most_recent.battery.age}}</td>
    </tr>
    <tr>
        <td>Charge</td><td>{{ most_recent.soc.value }}%</td><td>{{most_recent.soc.age}}</td>
    </tr>
    <tr>
        <td>Free Heap</td><td>{{ most_recent.free_heap.value }}</td><td>{{most_recent.free_heap.age}}</td>
    </tr>
    <tr>
        <td>Box Uptime</td><td>{{ most_recent.uptime.value }}</td><td>{{most_recent.uptime.age}}</td>
    </tr>
    <tr>
        <td>Miles Driven</td><td>{{ most_recent.miles.value }}</td><td>{{most_recent.miles.age}}</td>
    </tr>
</table>
    {% include "backoffice/vehicles/telemetry-list.html" with telemetry=page %}

    {% include "backoffice/components/paginator.html" with page=page page_range=page_range %}

    
    <svg id="graph" width="1000"></svg>

{% endblock %}
