<tr>
    <td class="h-6 w-6 max-w-none whitespace-nowrap px-6 py-3 text-sm font-medium text-gray-900">
      <div class="flex items-center space-x-3 lg:pl-2">
        <a href="#" class="truncate hover:text-gray-600">
          <span>
            #{{ t.id|stringformat:"02d" }}
          </span>
        </a>
      </div>
    </td>
    <td class="px-6 py-3 text-sm font-medium text-gray-500">
      {{t.doors_locked}}
    </td>
    <td class="whitespace-nowrap px-6 py-3 text-right text-sm text-gray-500">
      {{ t.aux_battery_voltage }}
    </td>
    <td class="whitespace-nowrap px-6 py-3 text-right text-sm text-gray-500">
      {{ t.soc_percent }}
    </td>
    <td class="whitespace-nowrap px-6 py-3 text-right text-sm text-gray-500">
      {{ t.uptime_to_str }}
    </td>
    <td class="whitespace-nowrap px-6 py-3 text-right text-sm text-gray-500">
      {{ t.free_heap_bytes_to_str }}
    </td>
    <td class="whitespace-nowrap px-6 py-3 text-right text-sm text-gray-500">
      {{ t.odometer_miles }}
    </td>
    <td class="whitespace-nowrap px-6 py-3 text-right text-sm text-gray-500">
      {{ t.created_at }}
    </td>
    
  </tr>
  