{% extends "base.html" %}

{% block content %}

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative overflow-hidden bg-white">
  <main class="mt-16 mx-auto sm:mt-24">
    <div class="text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block xl:inline">Welcome to </span>
        <span class="block text-teal-500 xl:inline">GoEV</span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        A car-share scheme offering hourly and daily hire of 100% electric cars and vans to the Isles of Scilly
        community.
      </p>
      <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
        <div class="rounded-md shadow">
          <a href="{% url 'signup' %}"
             class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 md:py-4 md:text-lg md:px-10">
            Sign Up
          </a>
        </div>
        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
          <a href="{% url 'login' %}"
             class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-teal-600 bg-gray-200 hover:bg-gray-300 md:py-4 md:text-lg md:px-10">
            Log In
          </a>
        </div>
      </div>
    </div>

    <div class="my-16 py-16 lg:text-center bg-blue-100">
      <p class="max-w-4xl text-xl  text-gray-800 lg:mx-auto">
        GoEV Car Share is a simple, low cost and environmentally friendly alternative to owning your own car or van.
        You only pay for the time you use our vehicles, and can pick and choose the right vehicle for the job
        whenever you need one.</p>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="py-8 mb-8 bg-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <p class="text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">How it works</p>
        </div>
        <div class="mt-10">
          <dl class="mx-auto max-w-2xl md:grid md:grid-cols-1 md:gap-x-8 md:gap-y-10">
            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-teal-500 text-white">
                  <!-- Heroicon name: outline/globe-alt -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Become a member</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Sign up to GoEV Car Share, complete your driver profile and receive your membership card.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                  <!-- Heroicon name: outline/scale -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Make a booking</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Search for a vehicle and find the van, car or combi at a
                convenient location around St Mary's. Pick the date and time you want to use it, and accept the all
                inclusive price.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-teal-500 text-white">
                  <!-- Heroicon name: outline/lightning-bolt -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 10V3L4 14h7v7l9-11h-7z"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Collect your vehicle</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Go to your chosen vehicle, and unlock it using your
                membership card on the card reader, unplug the charger, and drive away!
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                  <!-- Heroicon name: outline/annotation -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Return your vehicle</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                When it's time to return your vehicle, take it back to its home charger, plug it in and lock it
                using your membership card. That's it!
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-blue-100">
      <div class="max-w-7xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          <span class="block">Ready to drive?</span>
        </h2>
        <div class="mt-8 flex justify-center">
          <div class="inline-flex rounded-md shadow">
            <a href="{% url 'signup' %}"
               class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-gray-900 text-center">Frequently asked questions</h2>
        <div class="mt-12">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-12 lg:grid-cols-3">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">What vehicles are available?</dt>
              <dd class="mt-2 text-base text-gray-500">We have a mixture of Nissan Leaf cars, Nissan eNV-200 vans and
                Nissan eNV-200 Combi people carriers.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Where do I collect the vehicle from?</dt>
              <dd class="mt-2 text-base text-gray-500">Each vehicle has a "home" chargepoint, where you will collect and
                return it from. When making your booking, you'll be able to select a vehicle at a convenient location.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">Do I have to pay for fuel?</dt>
              <dd class="mt-2 text-base text-gray-500">No - all electricty usage is included in the hire charge.</dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">How often will I have to charge the vehcile?</dt>
              <dd class="mt-2 text-base text-gray-500">In typical Scilly usage, all our vehicles last at least 100 miles
                on a charge, so you are unlikely to need to charge the vehicle during your hire.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">I'm hiring a vehicle for a long time, what happens
                if I run out of charge?
              </dt>
              <dd class="mt-2 text-base text-gray-500">If you are running low on charge during your hire, you can return
                your vehicle to it's home charge point to recharge it at any time. Simply plug it in and press the
                "charge now" button on the charger.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">What are the conditions for drivers to sign up?
              </dt>
              <dd class="mt-2 text-base text-gray-500">You must be a permanent resident of the Isles of Scilly or a
                contractor working for a business located on the Isles of Scilly, be between the ages of 21 and 70, with
                no mnore than 6 points on your driving license.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </main>

</div>

{% endblock %}
