<a href="{% url 'drivers_build_profile' stage=stage %}"
   class="{% if currentStage == stage %}bg-gray-50 text-indigo-700 hover:text-indigo-700 hover:bg-white{% else %}text-gray-900 hover:text-gray-900 hover:bg-gray-50{% endif %} group rounded-md px-3 py-2 flex items-center text-sm font-medium"
    {% if currentStage == stage %}aria-current="page"{% endif %}>
  <svg
    class="{% if currentStage == stage %}text-indigo-500 group-hover:text-indigo-500{% else %}text-gray-400 group-hover:text-gray-500{% endif %} flex-shrink-0 -ml-1 mr-3 h-6 w-6"
    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
    aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="{{iconPath}}"/>
  </svg>
  <span class="truncate">
    {{title}}
  </span>
</a>
