{% extends "drivers/build_profile/base.html" %}

{% load crispy_forms_tags %}

{% block form_content %}
<form action="#" method="POST" enctype="multipart/form-data">
  <div>
    <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Driving licence</h3>
        <p class="mt-1 text-sm text-gray-500">Please provide pictures of the front and back of your driving licence.</p>
      </div>

      <div class="">
        {% csrf_token %}
        {% crispy form form.helper %}
      </div>

    </div>
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      {% include "components/submit-button.html" with label="Continue" %}
    </div>
  </div>
</form>
{% endblock %}
