{% load user_utils %}

<tr>
  <td class="px-6 py-3 text-sm font-medium text-gray-500">
    {{ u.first_name }} {{ u.last_name }}
  </td>
  <td class="whitespace-nowrap px-6 py-3 text-sm text-gray-500">
    {{ u.email }}
  </td>
  <td class="whitespace-nowrap px-6 py-3 text-sm text-gray-500">
    {{ u.mobile }}
  </td>
  <td>
    {% can_drive_full u as full %}
    {% if full %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6 text-green-600">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
      </svg>
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6 text-red-600">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
      </svg>
    {% endif %}
  </td>
  <td>
    {% can_drive_external u as external %}
    {% if external %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6 text-green-600">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
      </svg>
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6 text-red-600">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
      </svg>
    {% endif %}
  </td>
</tr>
