<a
  href="{% url url %}"
  class="{% if name == current %}bg-teal-100 text-gray-800 {% else %}hover:bg-teal-600 hover:bg-opacity-75 text-teal-200 hover:text-white{% endif %}   group flex items-center px-2 py-2 text-sm font-medium rounded-md"
  {% if name == current %}aria-current="page"{% endif %}
>
  <svg
    class="mr-3 h-6 w-6 flex-shrink-0"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="{{iconPath}}"
    />
  </svg>
  {{title}}
</a>
