{% extends "profile_base.html" %}

{% load crispy_forms_tags %}

{% block profile_content %}
  <section>
    <div class="shadow sm:overflow-hidden sm:rounded-md">
      <div class="bg-white py-6 px-4 sm:p-6">
        <h2 class="text-lg font-medium leading-6 text-gray-900">My Billing Accounts</h2>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">This section shows a list of all billing accounts which are
          owned by you.</p>
      </div>
    </div>
  </section>

  {% for ba in billing_accounts %}
    {% include "billing/components/billing_account_card.html" with ba=ba manage_drivers=True %}
  {% endfor %}
{% endblock %}
